.article-reader-container {
    text-align: center;
    .article-reader-author {
        margin-bottom: 30px;
    }
    .article-reader-body {
        padding-top: 30px;
        padding-left: 40px;
    }
}