.main-article-title-container {
    height: 200px;
    background-color: lightgray;
    .main-article-text {
        padding-left: 10px;
    }
    .main-article-author {
        color: white;
    }
}

.placeholder-square {
    background-color: red;
    width: 150px;
    height: 150px;
}